<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>

    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->


    <title>Day length from OpenWeather project!</title>

</head>

<body>
    <!--Bootstrap margin x and y-->
    <div class="mx-4 my-4">
        <h4>Day length from OpenWeather project</h4>
        <div><br></div>
        <button type="button" class="btn btn-first" onclick="getWeather()">Get Weather</button>
        <button type="button" class="btn btn-second" onclick="reloadTable()">Reload Page</button>
        <!--<div><br></div>-->
    </div>


    <div>
        <h7>Rows: </h7>
        <span th:text="${rowsCounter}"></span>
    </div>


<div style="width:800px; max-height:500px; min-height:500px; overflow-y:auto;">
<table class="table table-striped" border="solid">

    <thead>
    <tr>
        <th>NN</th>
        <th>Date</th>
        <th>Sunrise</th>
        <th>Sunset</th>
        <th>Day length</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="day : ${days}">
        <td th:text="${day.tableSize}"></td>
        <td th:text="${day.date}"></td>
        <td th:text="${day.sunriseTime}"></td>
        <td th:text="${day.sunsetTime}"></td>
        <td th:text="${day.dayLength}"></td>
    </tr>
    </tbody>
</table>
</div>



<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/weather.js"></script>


</body>

</html>